@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  height: 100%;
}

body,
html {
  background-color: #1a1a1a;
  font-family: 'Inter';
  color: #fff;
}

h1 {
  margin: 0;
}
